.Button {
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

.outline {
  padding: 10px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}